<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tisson.mapper.dao.sys.SysUsersMapper">
  <resultMap id="BaseResultMap" type="com.tisson.demo.entity.sys.SysUsers">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="eff_date" jdbcType="DATE" property="effDate" />
    <result column="exp_date" jdbcType="DATE" property="expDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>

  <select id="loadByName" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT * FROM sys_users WHERE name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="queryRoles" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysRoles" >
    SELECT * FROM sys_roles  WHERE id IN ( SELECT role_id FROM sys_user_roles WHERE user_id = #{id,jdbcType=CHAR} )
  </select>

  <select id="queryResourcesByUserId" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysResources" >
    SELECT * FROM sys_resources WHERE id IN ( SELECT resource_id FROM sys_user_resources  WHERE user_id = #{id,jdbcType=CHAR} )
  </select>
  
  <select id="queryResourcesByRoleId" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysResources" >
    SELECT * FROM sys_resources WHERE id IN ( SELECT resource_id FROM sys_role_resources  WHERE role_id =#{id,jdbcType=CHAR} )
  </select>
  
  <select id="queryOrganizationByUserId" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysOrganizations" >
    SELECT * FROM sys_organizations WHERE id IN ( SELECT organization_id FROM sys_user_organizations  WHERE user_id =#{id,jdbcType=CHAR} )
  </select>
  
  <select id="queryPagesByUserId" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysPages" >
    SELECT * FROM sys_pages WHERE id IN ( SELECT page_id FROM sys_user_pages  WHERE user_id = #{id,jdbcType=CHAR} )
  </select>
  
  <select id="queryPagesByRoleId" parameterType="java.lang.String" resultType="com.tisson.demo.entity.sys.SysPages" >
  	SELECT * FROM sys_pages WHERE id IN ( SELECT page_id FROM sys_role_pages  WHERE role_id =#{id,jdbcType=CHAR} )
  </select>
  
  <select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM sys_users
    <where>
    	<if test="query !=null">
    		<if test="query.name !=null and query.name !='' ">
		    	and name=#{query.name}
		    </if>
		    <if test="query.label !=null and query.label !='' ">
		    	and label=#{query.label}
		    </if>
		    <if test="query.mobilePhone !=null and query.mobilePhone !='' ">
		    	and mobile_phone=#{query.mobilePhone}
		    </if>
		    <if test="query.status !=null and query.status !='' ">
		    	and status=#{query.status}
		    </if>
    	</if>
	    <if test="specialUserName!=null">
	    	and name not in
	    	<foreach item="item" index="index" collection="specialUserName" 
                         open="(" separator="," close=")">
            	#{item}
            </foreach>
	    </if>
    </where>
  </select>
  
  <delete id="deleteSysUsers">
  	<if test="sysUsers!=null and sysUsers.id!=null ">
  		delete from sys_user_pages where user_id=#{sysUsers.id,jdbcType=CHAR};
  		delete from sys_user_resources where user_id=#{sysUsers.id,jdbcType=CHAR};
  		delete from sys_user_roles where user_id=#{sysUsers.id,jdbcType=CHAR};
  		delete from sys_users where id=#{sysUsers.id,jdbcType=CHAR};
  	</if>
  </delete>
  
  <delete id="deleteUserAccessPages">
  	<if test="query!=null and query.id!=null">
       delete from sys_user_pages where user_id=#{query.id,jdbcType=CHAR};
  	</if>
  </delete>
  
  <insert id="addUserAccessPages">
  	<if test="query!=null and query.accessPageIds!=null">
       <foreach collection ="query.accessPageIds" item="item" index= "index" separator =";">
       	insert into sys_user_pages(id,user_id,page_id) select REPLACE(UUID(),'-',''),#{query.id},#{item} from dual
       </foreach >
  	</if>
  </insert>
  
  <delete id="deleteUserResources">
  	<if test="query!=null and query.id!=null">
       delete from sys_user_resources where user_id=#{query.id,jdbcType=CHAR};
  	</if>
  </delete>
  
  <insert id="addUserResources">
  	<if test="query!=null and query.resourceIds!=null">
       <foreach collection ="query.resourceIds" item="item" index= "index" separator =";">
       	insert into sys_user_resources(id,user_id,resource_id) select REPLACE(UUID(),'-',''),#{query.id},#{item} from dual
       </foreach >
  	</if>
  </insert>
  
  <delete id="deleteUserRoles">
  	<if test="query!=null and query.id!=null">
       delete from sys_user_roles where user_id=#{query.id,jdbcType=CHAR};
  	</if>
  </delete>
  
  <insert id="addUserRoles">
  	<if test="query!=null and query.roleIds!=null">
       <foreach collection ="query.roleIds" item="item" index= "index" separator =";">
       	insert into sys_user_roles(id,user_id,role_id) select REPLACE(UUID(),'-',''),#{query.id},#{item} from dual
       </foreach >
  	</if>
  </insert>
  
  <delete id="deleteUserOrganizationRelation">
  	<if test="query!=null and query.id!=null">
  		delete from sys_user_organizations where user_id=#{query.id,jdbcType=CHAR}
  	</if>
  </delete>
  
  <insert id="insertUserOrganizationRelation">
  	<if test="query!=null and query.organizationId!=null">
       insert into sys_user_organizations(id,user_id,organization_id) select REPLACE(UUID(),'-',''),#{query.id},#{query.organizationId} from dual
  	</if>
  </insert>
</mapper>